<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 

        
        <link rel="stylesheet" href="/css/chat.css" />
    --> 
    <title>LiveChat - Home</title>
</head>


<body>
    <div class="wrapper">
        <p><strong><span>LiveChat</span></strong></p>

        <div class="backend-messages">
            <textarea id="backendTextarea" rows="10" cols="50" readonly></textarea>
        </div>

        <table>
            <tbody>
                <tr>
                    <td>Username:</td>
                    <td>
                        <div class="input-container">
                            <input type="text" name="username">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Message:</td>
                    <td>
                        <div class="input-container">
                            <input type="text" name="message">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <p><br></p>
        <table>
            <tbody>
                <tr>
                    <td><button onclick="sendMessage()" type="submit">Send</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>

        var firstTime = true;
        var button = document.querySelector('button[type="submit"]');
        var message = document.querySelector('input[type="text"][name="message"]');
        var user = document.querySelector('input[type="text"][name="username"]');

        var socket = new WebSocket("ws://localhost:8080/livechat");

        socket.onmessage = function (event) {
            var chat = document.getElementById('backendTextarea');
            chat.value += event.data + '\n';
        }

        button.addEventListener('click', sendMessage);

        function sendMessage() {
            var currentDate = new Date();
            var messageToSend = "[" + currentDate.toLocaleString() + "] " + user.value + " > " + message.value;
            socket.send(messageToSend);
            message.value = '';

            if (firstTime) {
                firstTime = false;
                user.disabled = true;
            }
        }

    </script>

</body>

</html>