<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveChat - Error</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<script src="/js/error.js"></script>

<body>
    <div class="error-container">
        <h1><span class="big-text">Bienvenido a</span> <span class="yellow-text">Livechat</span></h1>
        <p>Lo sentimos, parece que esta página no existe o está caída.</p>
        <button class="big-button" onclick="redirectToMain()">Ir a la página principal</button>
    </div>
</body>

</html>
