<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>LiveChat - Login</title>
</head>

<script src="/js/login.js"></script>

<body>
    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
            <form id="loginForm">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>

                <button type="button" onclick="login()">Iniciar sesión</button>
            </form>
        </div>
    </div>

</body>

</html>