<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>LiveChat - Register</title>
</head>

<body>
    <script src="/js/register.js"></script>
    <div class="container">
        <div class="register-container">
            <h2>Register</h2>
            <form id="registerForm">
                <label for="displayName">Name:</label>
                <input type="text" id="displayName" name="displayName" required>

                <label for="username">User:</label>
                <input type="text" id="username" name="username" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="button" onclick="register()">Register account</button>
            </form>
        </div>
    </div>
</body>

</html>
